  <div id="content-pro">
    
       <div class="container">
        <div class="centered-headings-pro pricing-plans-headings">
          <h6>30 days free subscription</h6>
          <h1>Instantly get a display page &amp; Bussiness card</h1>
        </div>
    </div><!-- close .container -->
    
    <div class="container">
      <ul id="registration-steps-pro">
        <li>
          <a routerLink="/step1">
            <div class="registration-step-circle-icon">01</div>
            <div class="registration-step-number">Step 1</div>
            <h5 class="registration-step-title">Choose your plan</h5>
          </a>
        </li>
        <li class="current-menu-item">
          <a routerLink="/step2">
            <div class="registration-step-circle-icon">02</div>
            <div class="registration-step-number">Step 2</div>
            <h5 class="registration-step-title">Create your account</h5>
          </a>
        </li>
        <li>
          <a routerLink="/step3">
            <div class="registration-step-circle-icon">03</div>
            <div class="registration-step-number">Step 3</div>
            <h5 class="registration-step-title">Billing information</h5>
          </a>
        </li>
        <li>
          <a routerLink="/welcome">
            <div class="registration-step-circle-icon">04</div>
            <div class="registration-step-number">Step 4</div>
            <h5 class="registration-step-title">Welcome to Iservice!</h5>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    
    
    <div id="pricing-plans-background-image">
      <div class="container">
          <div class="registration-steps-page-container">
            
             <form method="POST" action="/signup" class="registration-steps-form">
             
             <div class="registration-social-login-container">

                   <div class="form-group">
                   <label for="fullName" class="col-form-label" >Full Name</label>
                     <input type="text" ngModel class="form-control" #fullName="ngModel" id="fullName" placeholder="John Doe" name="fullName">
                   </div>                  
                   <div class="form-group">
                   <div class="row">
                    <div class="col">
                       <label for="company" class="col-form-label">Company</label>
                         <input ngModel #company="ngModel" name="company" type="text" class="form-control" id="company" placeholder="JohnDoe inc">
                    </div>
                    <div class="col">
                       <label for="service" class="col-form-label">Service</label>
                         <input ngModel #service="ngModel" name="service" type="text" class="form-control" id="service" placeholder="service">
                    </div>
                   </div>
                   </div>
               
               
             </div><!-- close .registration-social-login-container -->


             <div class="registration-social-login-options">
              <div class="form-group">
                <label for="phone" class="col-form-label" >Phone Number</label>
                  <input ngModel #phone="ngModel" name="phone" type="text" class="form-control" id="phone" placeholder="234 ......">
                </div>
                <div class="form-group">
                <label for="location" class="col-form-label" >Location</label>
                  <input ngModel #location="ngModel" name="location" type="text" class="form-control" id="location" placeholder="lagos Nigeria">
                </div>
                <div class="form-group">
                  <label>Select category</label>
                  <select ngModel #category="ngModel" name="category" class="form-control" id="category" required>
                    <option>Agriculture</option>
                    <option>School</option>
                    <option>IT Development</option>
                    <option>Business</option>
                    <option>Food & Dishes</option>
                    <option>Events</option>
                    <option>Medicine</option>
                  </select>
                </div>
            </div><!-- close .registration-social-login-options -->
             
             <div class="clearfix"></div>
               <div class="form-group last-form-group-continue">
                 <!-- <button type="submit" class="btn btn-default">button</button> -->
                 <a (click)="submit(fullName,company,service,phone,location,category)" type="submit" class="btn btn-blue-pro">Continue</a>
               <span class="checkbox-remember-pro"><input type="checkbox" id="checkbox-terms"><label for="checkbox-terms" class="col-form-label">By clicking "Continue", you agree to our <a href="#!">Terms of Use</a> and 
<a href="#!">Privacy Policy</a> including the use of cookies.</label></span>
               <div class="clearfix"></div>
               </div>
             </form>
            
          </div><!-- close .registration-steps-page-container -->
        
      </div><!-- close .container -->
    </div><!-- close #pricing-plans-background-image -->
    
  </div><!-- close #content-pro -->
  
  
  <a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>
  
  