.container{
    background: linear-gradient(blue,blue,darkblue);
    text-align: center;
    padding: 5px; 
    color:white;
    margin-bottom: 1vh;
    height:8vh;
    font-family: Convergence;
    box-shadow: 2px 2px;
}
h2{
    font-family: Convergence;
}
.menu{
    margin-top: 0px;
    margin-bottom: 3vh;
}