<div id="content-pro">
			

			
    <div id="pricing-plans-background-image">
      <div class="container">
          <div class="registration-steps-page-container">
            

            <div class="registration-step-final-padding welcome-page-styles">
              
              <div class="centered-headings-pro pricing-plans-headings">
                <h6>Sign up complete!</h6>
                <h1>Welcome to <span style="color: rgb(14, 14, 170);font-weight: bolder;">Iservice</span>!</h1>
              </div>
              
              <h6 class="welcome-style-summary">You can now start sharing your link to customers.</h6>
              <h6 class="welcome-style-summary">Your next billing information will be sent on your email on July 30, 2017</h6>
              
              <h3 class="welcome-plan-title">Your Plan: <span>Free</span></h3>
              
             <!-- <ul class="welcome-features">
                <li>Ultra HD Available</li>
                <li>70 movies and shows</li>
                <li>Watch on any Device</li>
                <li>Download Available</li>
              </ul>-->
              <div class="clearfix"></div>
              
              <div class="registration-step-final-footer">
                <a routerLink="/loggedinuser" class="btn btn-green-pro">View Dashboard</a>
                <a routerLink="/services" class="btn">View Business Card</a>
              </div>
              
            </div><!-- close .registration-step-final-padding -->
             
            
          </div><!-- close .registration-steps-page-container -->
        
      </div><!-- close .container -->
    </div><!-- close #pricing-plans-background-image -->
    
  </div><!-- close #content-pro -->
  
 
  
  <a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>
