.landing{
    background: rgba(109, 135, 168, 0.5);
    height: 78vh;
    z-index:1;
}
img{
    height: 100%;
    width: 100vw;
    z-index: -1;
}
span{
    margin-top: 10vh;
    width: 40vw;
    border-top: 4px solid rgb(22, 22, 165);
    letter-spacing: 1px;
    font-weight: normal;
    font-size:18px;
    padding: 10px 4px 10px 4px;
}
.info{
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img{
    width: 29vw;
    height: 30vh;
    z-index: -1;
}


.landing{
    display: none;
}
@media(max-width:700px){
    .landing{
        display: block;
    }
    span{
        width: 80vw;
    }
    .show>p{
        width: 80vw;
    }
    .card-img{
        width: 60vw;
    }
    .landing{
        height: 40vh;
    }
}