       
<!-- Hero and nav -->
<div class="hero is-theme-primary is-slant">
    
    <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
        <div class="container">
            <!-- Brand -->
            <div class="navbar-brand">
                <a class="navbar-item" routerLink="/home">
                    <img class="light-logo" src="assets/images/logos/bulkit-white.svg" alt="">
                    <img class="dark-logo" src="assets/images/logos/bulkit-green.svg" alt="">
                </a>
    
        
    
                <!-- Responsive toggle -->
                <div class="custom-burger" data-target="">
                    <a id="" class="responsive-btn" href="javascript:void(0);">
                        <span class="menu-toggle">	
                            <span class="icon-box-toggle"> 	
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i> 
                                </span>
                            </span>
                        </span>
                    </a>
                </div>
                <!-- /Responsive toggle -->
            </div>
    
            <!-- Navbar menu -->
            <div class="navbar-menu">
                <!-- Navbar Start -->
                <div class="navbar-start">
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide" routerLink="/features">
                        Features
                    </a>
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide" routerLink="/pricing">
                        Pricing
                    </a>
                    <a class="navbar-item is-slide" routerLink="/services">
                        Services
                        </a>
                    <!-- Navbar item -->
                    <a *ngIf="!loggedIn()" class="navbar-item is-slide" routerLink="/login">
                        Login
                    </a>
                    <a *ngIf="loggedIn()" class="navbar-item is-slide" (click)="logOut()">
                        Logout
                    </a>
                </div>
    
                <!-- Navbar end -->
                <div class="navbar-end">
                    <!-- Signup button -->
                    <div class="navbar-item">
                        <a *ngIf="!loggedIn()" id="#signup-btn" routerLink="/signup" class="button button-signup btn-outlined is-bold btn-align light-btn raised">
                            Free Trial
                        </a>
                        <a *ngIf="loggedIn()" id="#signup-btn" routerLink="/register" class="button button-signup btn-outlined is-bold btn-align light-btn raised">
                            Register Company
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
