<!-- Small screen navigation-->
<div class="ui secondary pointing menu" id="small-nav">
  <a class="item" routerLink="/home" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/services" routerLinkActive="active">
    Services
  </a>
  <a class="item" *ngIf="loggedIn()" routerLink="/step1" routerLinkActive="active">
    Register
  </a>
  <div class="right menu">
      <a class="item" *ngIf="loggedIn()" routerLink="/loggedinuser" routerLinkActive="active">
        <i class="user icon"></i>
      </a>
    <a class="ui item" *ngIf="!loggedIn()" routerLink="/login" routerLinkActive="active">
      Login
    </a>
    <a class="ui item" *ngIf="!loggedIn()" routerLink="/signup" routerLinkActive="active">
      Signup
    </a>
  </div>
</div>


<!--Big screen navigation-->
<nav id="big-nav">
  <ul class="hide">
    <li class="logo" routerLink="/home">I service</li>
  </ul>
  <ul>
    <li routerLink="/home" routerLinkActive="active">Home</li>
    <li routerLink="/services" routerLinkActive="active">Services</li>
    <li *ngIf="loggedIn()" routerLink="/step1" routerLinkActive="active">Register Company</li>
    <li *ngIf="loggedIn()" routerLink="/loggedinuser" routerLinkActive="active"><i class="user icon"></i></li>
    <li class="logout" *ngIf="loggedIn()" routerLinkActive="active" (click)="logOut()">LogOut</li>
    <li *ngIf="!loggedIn()" routerLink="/login" routerLinkActive="active">Login</li>
    <li *ngIf="!loggedIn()" routerLink="/signup" routerLinkActive="active">Signup</li>
  </ul>
</nav>

<router-outlet></router-outlet>
<footer>
</footer>