<!-- <div>
  <h2 style="text-align: center;margin-top:4vh;">Signup</h2>
  <p class="errMsg"style="text-align:center;color:red;font-size: 20px;font-weight: bolder;">{{errorMessage}}</p>
  <form #user="ngForm" (ngSubmit)="sendInfo(user.value)">
    <input type="email" ngModel #username="ngModel" name="username" required="required" placeholder="Company Email">
    <input type="password" ngModel #password="ngModel" name="password" required="required" placeholder="Password">
    <button>SignUp</button>
  </form>
</div> -->
<div class="hero is-light-grey is-fullheight">
<div id="main-hero" class="hero-body">
    <div class="container has-text-centered">
        <div class="columns is-vcentered">
            <div class="column is-6 is-offset-3">
                <!-- Login form -->
                <div id="login-card" class="animated preFadeInLeft fadeInLeft">
                    <div class="flex-card clean-login-card">
                        <div>
                            <h2>signup</h2>
                            <p class="errMsg" style="text-align:center;color:red;">{{errorMessage}}</p>
                            <form #user="ngForm" (ngSubmit)="sendInfo(user.value)">
                                <div class="control-material is-primary">
                                    <input class="material-input" type="email" ngModel #username="ngModel" name="username" required="required" placeholder="Company Email">
                                </div>
                                <div class="control-material is-primary">
                                <input class="input is-rounded" type="password" ngModel #password="ngModel" name="password" required="required" placeholder="Password">
                                </div>
                                <div class="mt-20">
                                    <button class="button button-cta btn-align primary-btn is-fullwidth raised no-lh">signup</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>