<div class="ui bottom attached segment pushable">
  <div class="ui inverted left vertical sidebar menu" id="sidebar">
    <a class="item">
      <i class="home icon"></i>
      Categories
    </a>
    <a class="item" (click)="findUsers('IT Development')">
      <i class="laptop icon"></i>
      IT Development
    </a>
    <a class="item" (click)="findUsers('Business')">
      <i class="balance scale icon"></i>
      Business
    </a>
    <a class="item" (click)="findUsers('School')">
      <i class="book icon"></i>
      School
    </a>
    <a class="item" (click)="findUsers('Agriculture')">
      <i class="calendar icon"></i>
      Agriculture
    </a>
    <a class="item" (click)="findUsers('Food & Dishes')">
      <i class="food icon"></i>
      Food & Dishes
    </a>
    <a class="item" (click)="findUsers('Events')">
      <i class="birthday cake icon"></i>
      Events
    </a>
    <a class="item" (click)="findUsers('Medicine')">
      <i class="plus icon"></i>
      Medicine
    </a>
  </div>
  <!-- <div class="ui action input">
    <input type="text" placeholder="Search...">
    <select class="ui compact selection dropdown">
      <option value="location">City</option>
      <option selected="" value="country">Country</option>
    </select>
    <div class="ui button">Search</div>
  </div> -->
  <div class="pusher">
    <div class="ui basic segment">
      <div class="ui icon buttons">
        <button class="ui button showCategories" (click)="toggleNav()">
          <i class="align justify icon"></i>
        </button>
      </div>
      <svg *ngIf="data == undefined" width="100vw" height="50vh"
          version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle cx="48vw" cy="170" r="10vw" stroke="blue" stroke-width="4px" fill="white"/>
        <circle class="inner-circle" cx="48vw" cy="170" r="5vw" stroke="blue" fill="blue"/>
      </svg>
      <h3 *ngIf="data !== undefined" class="ui header" style="text-align: center;letter-spacing: 1px;">{{category}}</h3>
      <div class="card-container">
        <a [routerLink]="['/user',data.company]" *ngFor="let data of data">
          <div class="card">
            <div class="card-logo">
                <p class="card-header" style="text-align: center;">{{data.company}}</p>
                <p style="text-align: center">{{data.user}}</p>
            </div>
            <div class="card-details">
                <p style="text-align: center;font-weight: lighter;"><i class="phone icon"></i>{{data.phone}}</p>
                <p style="text-align: center"><i class="mail icon"></i>{{data.email}}</p>
                <p style="text-align: center;"><i class="map marker alternate icon"></i>{{data.location}}</p>
                <p style="text-align: center;font-weight: lighter"><i class="service icon"></i>{{data.service}}</p>
              </div>
            
          </div>
        </a>
      </div>
    </div>
  </div>
</div>