<div class="body">
    <p *ngIf="currentUser">Logged in as {{currentUser}}</p>
    <button (click)="logOut()">LogOut</button>
      <h3 style="text-align: center;text-decoration: underline;">Registered Companies</h3>
      <svg *ngIf="userInfo == undefined" width="100vw" height="50vh"
          version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle cx="48vw" cy="170" r="20vw" stroke="blue" stroke-width="4px" fill="white"/>
        <circle class="inner-circle" cx="48vw" cy="170" r="5vw" stroke="blue" fill="blue"/>
      </svg>
    <div class="userinfo" *ngFor="let info of userInfo">
        <li>
            <b>Category - </b> {{info.category}}</li>
        <li>
            <b>Company - </b> {{info.company}}</li>
        <li>
            <b>Description - </b> {{info.description}}</li>
        <li>
            <b>Country located - </b> {{info.country}}</li>
        <li>
            <b>Phone_no - </b> {{info.phone}}</li>
        <li>
            <b>Service - </b> {{info.service}}</li>
        <li>
            <b>Owner - </b> {{info.user}}</li>
            <hr>
    </div>
</div>