p{
    background: rgb(14, 14, 170);
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}
li{
    list-style: none;
    text-align: center;
}
.inner-circle{
    animation: load 2s infinite;
}


@keyframes load{
    20%{
        r:10vw;
        fill: black;
    }
}